@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-200;
    @apply dark:bg-neutral-900;
  }
}

@keyframes color-fill-anime {
  0% {
    fill: #F8C3CD;
  }

  28% {
    fill: #F4A7B9;
  }

  56% {
    fill: #F596AA;
  }

  84% {
    fill: #E16B8C;
  }

  100% {
    fill: #DB4D6D;
  }
}

.color-fill {
  animation: color-fill-anime 4s linear infinite alternate forwards;
}
